//
// Spectre.css customization
//

$primary-color: #4d3b51;

@import "node_modules/spectre.css/src/spectre.scss";

.menu-item > a {
    padding: 0.05rem 0.4rem;
}

//
// General
//

body {
    overflow-x: visible;
}

#piece-canvas-container canvas {
    margin: 15px auto;
    display: block;
}
